---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";
import config from "$config";
import App from "$layouts/App.astro";
import Navigator from "$layouts/header/Navigator.svelte";
import Footer from "$layouts/Footer.astro";
import Tip from "$components/Tip.svelte";
import "$styles/global.less";
import "$styles/markdown.less";
import "medium-zoom/dist/style.css";

let route = Astro.url.pathname;

const { locale = config.i18n.defaultLocale, title: subtitle, description = config.description, article } = Astro.props;
const title = config.title;
---

<script>
	import zoom from "medium-zoom/dist/pure";
	import Time from "$utils/time";

	// Set the `title` attribute of all `<time>` elements to localized date-time strings
	const localizeTimes = () => document.querySelectorAll("time").forEach(time => time.dateTime && (time.title = Time.locale(time.dateTime, navigator.language, Time.userTimezone)));

	// Add zoom effect to images within markdown content
	window.zoom = () => zoom(".markdown img", { background: "#00000044" });

	// Page initialization function
	function initialize() {
		localizeTimes();
		window.zoom();
	}

	// Execute initialization on first load
	initialize();

	// Listen for page load event and re-initialize on page transitions
	document.addEventListener("astro:page-load", initialize);
</script>

<App {title} {subtitle} {description} {article} author={config.author.name}>
	<Tip client:load>
		<Icon name="lucide:info" slot="information" is:inline />
		<Icon name="lucide:circle-check" slot="success" is:inline />
		<Icon name="lucide:circle-question-mark" slot="question" is:inline />
		<Icon name="lucide:circle-alert" slot="warning" is:inline />
		<Icon name="lucide:circle-x" slot="error" is:inline />
		<Icon name="lucide:x" slot="x" is:inline />
	</Tip>
	<div class="flex flex-col mx-a px-3 w-[min(100%,1000px)]">
		<div id="body" class="flex flex-col min-h-screen">
			<header class="sticky top-0 flex items-center justify-between pt-3 pb-1 mb-4 bg-background z-2 sm:(static pb-12)">
				<a href={getRelativeLocaleUrl(locale)} class="text-size-lg sm:text-size-2xl font-bold">{title}</a>

				<Navigator {locale} {route} client:load>
					<Icon name="lucide:tent" slot="home" is:inline />
					<Icon name="lucide:list" slot="note" />
					<Icon name="lucide:at-sign" slot="about" />
					<Icon name="lucide:feather" slot="jotting" />
					<Icon name="lucide:earth" slot="globe" />
					<Icon name="lucide:rss" slot="rss" />
					<Icon name="lucide:sun" slot="sun" />
					<Icon name="lucide:moon" slot="moon" />
					<Icon name="lucide:align-justify" slot="bars" />
					<Icon name="lucide:x" slot="close" is:inline />
				</Navigator>
			</header>

			<slot />
		</div>

		<Footer {locale} author={config.author} copyright={config.copyright} />
	</div>
</App>
